.siteHeader-container {
	align-items: center;
	display: flex;
	justify-content: space-between;
	gap: 3rem;
}

.siteHeader-nav {
	align-content: center;
	display: flex;
	font-family: $headings-sans;
	gap: 1rem;
}
