.hero {
	position: relative;
}

.hero-primaryHeading {
	font-size: 8rem;
	left: 5rem;
	position: absolute;
	text-transform: uppercase;
	top: 5rem;
	z-index: 5;
}

.hero-message {
	align-items: flex-end;
	display: flex;
	min-height: 90vh;
	padding-bottom: 5rem;
	padding-top: 5rem;
	position: relative;
}

.hero-backgroundImage {
	display: block;
	left: 0;
	object-fit: cover;
	object-position: center;
	position: absolute;
	height: 100%;
	top: 0;
	width: 100%;
}

.hero-messageContainer {
	margin-left: 0;
	margin-right: auto;
	max-width: 480px;
	padding-left: 5rem;
	padding-right: 0;
	position: relative;
}
