@import '../../assets/styles/config';

.hero {
	// padding-top: var(--header-height, 85px);
	position: relative;
}

.hero-primaryHeading {
	color: $lightest;
	left: calc((100vw - #{$container-default}) / 2);
	padding: 0;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	top: calc(3rem + var(--header-height, 85px));
	z-index: 5;

	@media screen and (max-width: 1320px ) {
		left: $container-padding-default;
	}

	&::before {
		content: '';
		display: block;
		background-image: url('../../assets/images/slashes-forward-white.svg');
		background-position: bottom;
    background-repeat: no-repeat;
		// height: 45px;
		// width: 348px;
		position: absolute;
    left: calc(100% + .25em);
    bottom: .25em;
    height: 1em;
    width: 100%;
	}
}

.hero-message {
	// align-items: flex-end;
	display: flex;
	height: 90vh;
	min-height: 820px;
	position: relative;
	// position: absolute;
	// left: 0;
	// top: 0;
	// width: 100%;
	transition: transform 500ms ease-out;
}

// .hero-message-0 {
// 	transform: translate3d(-75%, 0, 0);
// }

// .hero-message-1 {
// 	transform: translate3d(-101%, 0, 0);
// }

// .hero-message-2 {
// 	transform: translate3d(-101%, 0, 0);
// }

// .hero-message-3 {
// 	transform: translate3d(-101%, 0, 0);
// }

.hero-message--light {
	color: $lightest;
}

.hero-messageContainer {
	align-items: stretch;
	display: flex;
	flex-direction: row-reverse;
	gap: 3.6rem;
	justify-content: space-between;
	padding-bottom: 5rem;
	padding-top: var(--header-height, 85px);
	position: relative;
	width: 100%;

	&::before {
		content: '';
		background-image: url('../../assets/images/large-arrow.svg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: right center;
		display: block;
		height: 100%;
		width: 100%;
		position: absolute;
		right: 0;
		bottom: 0;
	}
}

.hero-backgroundImageContainer {
	max-width: 50%;
	padding-top: 15rem;
	position: relative;
	width: 100%;
}

.hero-backgroundImage {
	display: block;
	height: 100%;
	object-fit: cover;
	object-position: center top;
	width: 100%;
	// height: 100%;
	// left: 0;
	// object-fit: cover;
	// object-position: center;
	// position: absolute;
	// top: 0;
	// width: 100%;
}

.hero-contentContainer {
	display: flex;
	// align-items: flex-end;
	flex-direction: column;
	height: 100%;
	justify-content: flex-end;
	// max-width: 480px;
	padding-top: 15rem;
	position: relative;
	width: 50%;
}

.hero-contentImage {
	// float: right;
}

.hero-heading {
	margin-bottom: 0;
	text-transform: uppercase;
}

.hero-subheading {
	font-family: $serif-bold;
	font-size: 2.2rem;
	font-weight: bold;
}

.hero-description {
	font-size: 1.8rem;
}



// .hero-cta {

// }

.hero-ctaLink {
	background-color: #f0f;
	color: $lightest;
	display: inline-block;
	padding: 1em;
	position: absolute;
	bottom: -1.5em;
	right: 0;
}
