@import '../../assets/styles/config';

.hero {
	// padding-top: var(--header-height, 85px);
	position: relative;
}

.hero-intro {
	padding-bottom: 15rem;
	padding-top: calc(15rem + var(--header-height, 85px));

}

.hero-primaryHeading {
	color: $color-primary;
	// left: calc((100vw - #{$container-default}) / 2);
	padding: 0;
	// position: absolute;
	text-align: center;
	text-transform: uppercase;
	// top: calc(3rem + var(--header-height, 85px));
	z-index: 5;

	@media screen and (max-width: 1320px ) {
		left: $container-padding-default;
	}

	&::before {
		content: '';
		display: block;
		background-image: url('../../assets/images/slashes-forward-white.svg');
		background-position: bottom;
    background-repeat: no-repeat;
		// height: 45px;
		// width: 348px;
		position: absolute;
    left: calc(100% + .25em);
    bottom: .25em;
    height: 1em;
    width: 100%;
	}
}

.hero-slides {
	height: 100vh;
	display: flex;
	flex-wrap: nowrap;
}





// .hero-cta {

// }

.hero-ctaLink {
	background-color: #f0f;
	color: $lightest;
	display: inline-block;
	padding: 1em;
	position: absolute;
	bottom: -1.5em;
	right: 0;
}
