@import '../../assets/styles/config';

.recentPosts {
	// background-color: $color-secondary;
	padding-bottom: 6rem;
	padding-top: 6rem;
}

.recentPosts-header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
	width: 100%;
}

.recentPosts-primaryHeading {
	margin-bottom: 0;
	text-transform: uppercase;
}

.recentPosts-viewControls {
	align-items: center;
	border: 1px solid $darkest;
	border-radius: 4px;
	display: flex;
	overflow: hidden;
}

.recentPosts-viewControl {
	align-items: center;
	background-color: $lightest;
	color: $darkest;
	cursor: pointer;
	display: flex;
	padding: .5em;
	position: relative;

	+ .recentPosts-viewControl {
		// border-left: 1px solid $darkest;
	}

	&:has(.recentPosts-viewControlRadio:checked) {
		background-color: $color-primary;
		color: $lightest;

		.recentPosts-viewControlIcon {
			opacity: 1;
		}
	}
}

.recentPosts-viewControlRadio {
	display: none;
}

.recentPosts-viewControlIcon {
	display: block;
	height: auto;
	opacity: 0.6;
	width: 3rem;

	svg {
		display: block;
		height: auto;
		width: 100%;
	}
}

.recentPosts-body {
	display: flex;
	gap: 3rem;

	@media screen and (max-width: $breakpoint-recentPosts-single-column ) {
    flex-direction: column;
		gap: 1rem;
	}
}

.recentPosts-sidebar {
	flex-basis: 20%;

	@media screen and (max-width: $breakpoint-recentPosts-single-column ) {
    flex-basis: 100%;
	}
}

.recentPosts-gridContainer {
	flex-basis: 80%;

	@media screen and (max-width: $breakpoint-recentPosts-single-column ) {
    flex-basis: 100%;
	}

}

.recentPosts-tags {
	font-size: 1.2rem;
	margin-bottom: 3rem;
	margin-left: -0.5em;
}

.recentPosts-toggleShowAll {
	appearance: none;
	background: none;
	border: none;
	cursor: pointer;
	display: block;
	font-weight: bold;
	margin-left: 0.5em;
	margin-top: 0.5em;
	padding: 0;
	text-decoration: underline;
	transition: color 150ms;

	&:hover {
		color: $color-primary;
	}
}



.recentPosts-noResults {
	background: #eee;
	background: linear-gradient(to bottom, rgba(238,238,238,1) 0%, rgba(255,255,255,0) 20%);
	padding: 2em;
	width: 100%;
}
.recentPosts-noResultsMessage {
	font-size: 3rem;
}
