@import '../../assets/styles/config';

.recentPosts {
	// background-color: $color-secondary;
	padding-bottom: 6rem;
	padding-top: 6rem;
}

.recentPosts-primaryHeading {
	margin-bottom: 0.4em;
	text-transform: uppercase;
}

.recentPosts-body {
	display: flex;
	gap: 3rem;

	@media screen and (max-width: $breakpoint-recentPosts-single-column ) {
    flex-direction: column;
		gap: 1rem;
	}
}

.recentPosts-sidebar {
	flex-basis: 20%;

	@media screen and (max-width: $breakpoint-recentPosts-single-column ) {
    flex-basis: 100%;
	}
}

.recentPosts-gridContainer {
	flex-basis: 80%;

	@media screen and (max-width: $breakpoint-recentPosts-single-column ) {
    flex-basis: 100%;
	}

}

.recentPosts-tags {
	font-size: 1.2rem;
	margin-bottom: 3rem;
	margin-left: -0.5em;
}

.recentPosts-toggleShowAll {
	appearance: none;
	background: none;
	border: none;
	cursor: pointer;
	display: block;
	font-weight: bold;
	margin-left: 0.5em;
	margin-top: 0.5em;
	padding: 0;
	text-decoration: underline;
	transition: color 150ms;

	&:hover {
		color: $color-primary;
	}
}
