@import '../../assets/styles/config';

.recentPosts {
	// background-color: $color-secondary;
	padding-bottom: 6rem;
	padding-top: 6rem;
}

.recentPosts-primaryHeading {
	margin-bottom: 0.4em;
}

.recentPosts-body {
	// display: flex;
	// gap: 3rem;
}

.recentPosts-tags {
	display: flex;
	flex-wrap: wrap;
	gap: 2.3rem;
	margin-bottom: 3rem;
	// width: 25%;
}
