// Any SASS variables you'll need throughout the project go here.
// This file should not output anything, just include it as a library in other files - so do not add regular CSS rules here.

/* 	==========================================================================
	Colors
	========================================================================== */
	$color-primary: #009A44;
	$color-secondary: #AEAEAE;

	// Pink and orange are used for specific purposes. Pink may be used for ceremonial purposes and for internal audiences, including current students, faculty, staff and alumni.
	// Orange is limited to the Eternal Flame as part of the official logos. Visit UND.edu/brand for additional details.
	$color-alt: #F5B6CD;
	$color-flame: #FF671F;

	$text: #444;

	$darkest: #000;
	$lightest: #fff;

	$link: $color-primary;
	$hover: $color-secondary;

	$success: #398f14;
	$error: #992200;

	 
	 
/* 	==========================================================================
	Fonts
	========================================================================== */
	 
	// Sizes
	$base-font-size: 10px;
	$body-font-size: 1.6rem;
	$ratio: 1.414;

	// Families
	$sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	$serif: Georgia, serif;
	 
	 
/* ==========================================================================
	Container sizes
	========================================================================== */
	$container-default: 1280px;
	// Add more as needed, e.g., $container-default-wide, $container-default-header, $container-default-small, etc.

	$container-padding-default: 2rem;
	 
	 
	 
/* ==========================================================================
	Media Query Breakpoints
	========================================================================== */
	 
	// Common breakpoints
	$breakpoint-xxs: 340px;
	$breakpoint-xs: 480px;
	$breakpoint-sm: 768px;
	$breakpoint-md: 991px;
	$breakpoint-lg: 1199px;
	 
	// Feature breakpoints
	// Add more as needed, e.g., $breakpoint-hide-videos, $breakpoint-sidebar, $breakpoint-stop-offsets, etc.
	 
	 
	 
/* ==========================================================================
	Utility
	========================================================================== */
	$bounce: cubic-bezier(0, 0.86, 0.46, 1.24);
	 