@import '../../assets/styles/config';

@mixin postCard-padding() {
	padding-left: 2rem;
	padding-right: 2rem;
}

.postCard {
	background-color: $lightest;
	box-shadow: 0 1px 15px 3px rgba(0,0,0, 0.12);
	position: relative;

	&:hover,
	&:focus {
		.postCard-footer {
			max-height: 100px;
			opacity: 1;
			padding-bottom: 1.4rem;
			padding-top: 1.4rem;
			pointer-events: initial;
			transform: translate3d(0,0,0);
		}
	}
}

.postCard-message {
	@include postCard-padding();
	font-size: 1.8rem;
	margin-bottom: 1em;
	padding-top: 2rem;
}

.postCard-userInfo {
	@include postCard-padding();
	display: grid;
	column-gap: 1.2rem;
	row-gap: 0.25rem;
	grid-template-columns: clamp(25px, 18%, 50px) 1fr;
	margin-bottom: 2rem;
	width: fit-content;
}

.postCard-figure {
	grid-column: 1 / 2;
	grid-row: 1 / 4;
}

.postCard-image {
	display: block;
	height: auto;
	width: 100%;
}

.postCard-author {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	line-height: 1.2;
	margin-bottom: 0;
}

.postCard-username {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}

.postCard-date {
	@include postCard-padding();
	font-size: 1.3rem;
	margin-bottom: 1em;
	opacity: 0.7;
}



.postCard-footer {
	@include postCard-padding();
	background-color: #ddd;
	font-size: 1.4rem;
	left: 0;
	max-height: 0;
	opacity: 0;
	// padding-bottom: 1.4rem;
	// padding-top: 1.4rem;
	pointer-events: none;
	top: 100%;
	transform: translate3d(0, -1rem, 0);
	transition: max-height 150ms ease-out, opacity 150ms ease-out, transform 150ms ease-out;
	width: 100%;
	z-index: 2;
}

.postCard-engagement {
	display: flex;
	gap: 2rem;
	justify-content: center;
}

.postCard-tooltip {
	background-color: $darkest;
	border-radius: 3px;
	bottom: calc(100% + 1.2em);
	color: $lightest;
	font-size: 1.4rem;
	left: 0;
	opacity: 0;
	padding: .5em 1em;
	pointer-events: none;
	position: absolute;
	text-align: center;
	transform: translate3d(0, -1rem, 0);
	transition: opacity 150ms ease-out, transform 150ms ease-out, border-color 150ms ease-out;
	width: fit-content;

	&::before {
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 10px solid $darkest;
		bottom: -10px;
		content: '';
		display: block;
		height: 1px;
		left: 1rem;
		position: absolute;
		width: 1px;
	}
}

.postCard-engagementButton {
	align-items: center;
	appearance: none;
	border: 1px solid $lightest;
	border-radius: 50%;
	cursor: help;
	display: flex;
	font-size: 2rem;
	height: 2em;
	justify-content: center;
	position: relative;
	width: 2em;

	&:hover,
	&:focus {
		border-color: $color-primary;

		.postCard-tooltip {
			opacity: 1;
			transform: translate3d(0, 0, 0);
		}
		
	}
}

.postCard-icon {
	line-height: 1;
}



.postCard-moreInfoContainer {
	position: relative;
}

.postCard-moreInfoButton {
	align-items: center;
	appearance: none;
	background-color: $color-secondary;
	border: none;
	border-radius: 50%;
	display: flex;
	font-size: 1.6rem;
	justify-content: center;
	line-height: 1;
	height: 1.6em;
	width: 1.6em;
}



/**
 * Different views - condensed or detailed
 **/
.postCard--detailed {

}

.postCard--condensed {

	.postCard-message {
		font-size: 1.6rem;
	}

	.postCard-figure {
		display: none;
	}

	.postCard-userInfo {
		display: block;
		margin-bottom: 1rem;
	}

	.postCard-author {
		font-size: 1.6rem;
	}

}
