@import '../../assets/styles/config';

.siteHeader {
	background-color: $lightest;
	border-bottom: 1px solid $color-secondary;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 50;
}

.siteHeader-container {
	align-items: center;
	display: flex;
	justify-content: space-between;
	gap: 3rem;
	padding-bottom: 2rem;
	padding-top: 2rem;
}

.siteHeader-nav {
	align-content: center;
	display: flex;
	font-family: $headings-sans;
	gap: 1rem;
}

.siteHeader-logoLink {
	display: block;

	svg {
		display: block;
		height: 45px;
		max-width: 364px;
		width: 100%;
	}
}
