@import '../../assets/styles/config';

.hero-message {
	display: flex;
	height: 100vh;
	min-height: 820px;
	position: relative;
	transition: transform 500ms ease-out;
}

.hero-message--light {
	color: $lightest;
}

.hero-messageContainer {
	align-items: stretch;
	display: flex;
	flex-direction: row-reverse;
	// gap: 3.6rem;
	justify-content: space-between;
	padding-bottom: 10rem;
	padding-right: 8rem;
	padding-top: calc(5rem + var(--header-height, 85px));
	position: relative;
	width: 100%;

	&::before {
		content: '';
		background-image: url('../../assets/images/large-arrow.svg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: right center;
		display: block;
		height: 100%;
		width: 100%;
		position: absolute;
		right: 0;
		bottom: 0;
	}
}

.hero-backgroundImageContainer {
	max-width: 50%;
	position: relative;
	width: 100%;
}

.hero-backgroundImage {
	display: block;
	height: 100%;
	object-fit: cover;
	object-position: center top;
	width: 100%;
}

.hero-contentContainer {
	// background-color: transparentize($darkest, 0.5);
	display: flex;
	flex-direction: column;
	height: fit-content;
	justify-content: flex-start;
	// left: 10rem;
	padding: 3rem;
	position: relative;
	width: 50%;
}

.hero-contentImage {
	// float: right;
}

.hero-heading {
	font-size: 7rem;
	line-height: 1.1;
	margin-bottom: 0.2em;
	text-transform: uppercase;
}

.hero-subheading {
	border-bottom: 2px solid $lightest;
	font-family: $serif-bold;
	font-size: 2.8rem;
	font-weight: bold;
	margin-bottom: 1em;
}

.hero-description {
	font-size: 1.8rem;
}
