@import '../../assets/styles/config';
$breakpoint-footer-columns: 700px;

.siteFooter {
	background-color: $darkest;
	padding-bottom: 7rem;
	padding-top: 7rem;
	position: relative;
}

.siteFooter-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 5rem;

	@media screen and (max-width: $breakpoint-footer-columns ) {
    grid-template-columns: 1fr;
	}
}

.siteFooter-column {
	position: relative;
}



.siteFooter-logoLink {
	display: block;
	margin-bottom: 1.4rem;
}

.siteFooter-logo {
	display: block;
	height: 45px;
	max-width: 364px;
	width: 100%;
}

.siteFooter-contactInfo {
	display: flex;
	flex-direction: column;
	font-family: $serif;
	font-size: 1.8rem;
	gap: 0.25rem;
	margin-bottom: 1.4rem;
}

.siteFooter-copyright {
	color: $lightest;
	font-family: $serif;
	opacity: 0.8;
}



.siteFooter-nav {
	align-items: flex-end;
	display: flex;
	flex-direction: column;
	font-family: $headings-sans;
	font-size: 2.2rem;
	gap: 0.33em;

	@media screen and (max-width: $breakpoint-footer-columns ) {
    align-items: flex-start;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 1em;
	}
}



.siteFooter-column--nav {
	&::before {
		content: '';
		display: block;
		background-image: url('../../assets/images/slashes-forward-white.svg');
		background-position: bottom;
    background-repeat: no-repeat;
		height: 90px;
		position: absolute;
    right: 3rem;
    top: 0;
    height: 64px;
    width: 1076px;
		z-index: 2;

		@media screen and (max-width: $breakpoint-footer-columns ) {
			display: none;
		}
	}
}
