html,
body {
	overflow-x: hidden;
}

html {
	font-size: $base-font-size;
}

body {
	color: $text;
	font-family: $sans;
	font-size: $body-font-size;
	line-height: $ratio;
}

a {
	color: $link;
	text-decoration: none;
	transition: color 100ms linear;

	&:hover {
		color: $hover;
		text-decoration: underline;
	}
}

h1,
h2,
h3,
h4,
h5 {
	font-family: $serif;
	font-weight: bold;
	margin-bottom: 1rem;
}

h1 {
	font-size: 5rem;
}

h2 {
	font-size: 3.2rem;
}

h3 {
	font-size: 2rem;
}

h4 {
	font-size: 1.6rem;
}

h5 {
	font-size: 1rem;
}

p,
ul,
ol {
	// margin-bottom: 1.4em;
}

p {

}

ul {

}

ol {

}

blockquote {

}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

img {
	image-rendering: -webkit-optimize-contrast;
}

code {
	font-family: monospace;
}

sub {
	vertical-align: sub;
	font-size: .75em;
}

sup {
	vertical-align: super;
	font-size: .75em;
}

kbd {
	background-color: #eee;
	border-radius: 3px;
	border: 1px solid #b4b4b4;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
	color: #333;
	display: inline-block;
	font-size: 0.85em;
	font-weight: 700;
	line-height: 1;
	padding: 2px 4px;
	white-space: nowrap;
}
